@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.carosoulecontent {
    position: absolute !important;
    bottom: 200px !important;
    z-index: 1000;
}

.im1 {
    width: 12rem;
    height: auto;

}

.bg-nav {
    background-color: #00000047 !important;
}

.nav-links {
    color: #ffff !important;
    font-size: 18px !important;
    padding: 15px 25px !important;
    font-family: "Work Sans" !important;

    font-weight: 500 !important;
    text-transform: uppercase !important;
}

#home {
    position: relative;


}

#home::before {
    cursor: pointer;
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 70%;

    background: #fff;
}

#home2 {
    position: relative;
}

#home2:hover::before {
    content: "";
    position: absolute;
    cursor: pointer;
    width: 70%;
    height: 1px;
    top: 70%;

    background: #fff;
}

#home:hover::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    top: 70%;

    background: #fff;
}

#home::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 1px;
    top: 48%;
    left: 4.5rem;
    /* right: -7px; */
    background: #fff;
    transform: rotate(91deg);
}

#home3 {
    position: relative;
}

#home3::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 1px;
    top: 48%;
    left: 0.5rem;
    /* right: -7px; */
    background: #fff;
    transform: rotate(91deg);
}

#home2::after {
    content: "" !important;
    position: absolute !important;
    width: 7px !important;
    height: 1px !important;
    top: 48% !important;
    left: 23px !important;
    background: #fff !important;
    transform: rotate(91deg) !important;
}


.nav-links2 {
    color: #ffff !important;
    font-size: 18px !important;
    padding: 15px 25px !important;
    font-family: "Work Sans" !important;
    text-transform: uppercase !important;

}

.nav-links::after {}

.ul-links {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */

    list-style: none;

}

.ul-links-mobile {
    list-style: none;
    text-align: center;



}

.ul-links-mobile li a {
    color: #ffff;
    font-family: "Work Sans";
    font-size: 16px;

}


.mobile {
    background-color: #000000;
    /* justify-content: center; */
    align-items: center;
    /* display: flex; */

    width: 100%;
}


.ul-links li a {
    color: #ffff;
    font-family: "Work Sans";
    font-size: 16px;

}

.cara-image {
    background-size: cover !important;
    object-fit: cover !important;
    width: 100%;
    height: 100vh !important;


}

.clarity-head {
    color: #000000;
    font-size: 40px;
    font-weight: 200;
    font-family: "Raleway";

}

.contact-btn {
    background-color: #18A1AB !important;
    color: #ffff !important;
    font-size: 20px !important;
    font-family: "Work Sans";
    padding: 10px 65px !important;
}

.contact-btn:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #FFFFFF !important;

}

.gradient-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Adjust the gradient colors and opacity here */
    z-index: 1;
    opacity: .9;
}

.learn-more {
    color: #18A1AB !important;
    font-size: 20px !important;
    font-family: "Work Sans";
}

.clarity-para {
    color: #000;
    opacity: 0.8;
    ;
    font-family: "Work Sans";
}

.choose-head {
    color: #292929;
    font-weight: 600;
    font-family: "Work Sans";
    font-size: 16px;
}

.services-li li a {
    opacity: 0.8;
    font-family: "Work Sans";
    color: #000;
}

.carasol-paras {
    color: #fff;
    font-family: Raleway, Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: none;
    font-family: "Work Sans";
}

.carasol-head {
    font-size: 76px;
    font-family: "Work Sans";
    color: #fff;
    z-index: 5;
}

.menu-1 {
    background: #18A1AB !important;
    padding: 10px 15px !important;
    top: 63% !important;

}

.menu-1 li a {
    color: #fff;
}

@media (max-width:992px) {
    .ul-links {

        align-items: start;


    }
}

@media (max-width:767px) {
    .carasol-head {
        font-size: 40px;
    }

    .carasol-paras {
        font-size: 30px;
    }
}

@media (max-width:992px) {
    #home::after {
        display: none;

    }

    #home::before {
        display: none;
    }

    #home2::after {
        display: none;
    }

    #home2:hover::before {
        display: none;
    }

    .carosoulecontent {
        position: absolute !important;
        bottom: 100px !important;
    }

    #home3::after {
        display: none;
    }
}